<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Models</title>
</head>
<body>
    <h1>Models</h1>
    <form action="{% url 'model_selection' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="dataset">Upload Dataset:</label>
        <input type="file" name="dataset" id="dataset">
        <br><br>
        <label for="remove_columns">Columns to Remove (comma-separated):</label>
        <input type="text" name="remove_columns" id="remove_columns">
        <br><br>
        <label for="target_label">Select Target Label:</label>
        <input type="text" name="target_label" id="target_label">
        <br><br>
     
        <button type="submit">Submit</button>
    </form>
</body>
</html>
